<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,400i,700|Mrs+Sheppards&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/42c57a4b77.js" crossorigin="anonymous"></script>
  <title>Wag</title>
</head>

<body>
  <nav class="navbar navbar-dark navbar-expand-lg" id="navHead">
    <div class="container">
      <a class="navbar-brand" id="logoType" href="/">Wag</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse collapse justify-content-between" id="navbarNav">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/adopt">Adopt</a> <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/post">Post</a>
          </li>
          {{!-- <li class="nav-item">
            <a class="nav-link" href="/">Contact Us</a>
          </li> --}}
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/account" tabindex="-1" aria-disabled="true">Account <i class="far fa-user user-icon"></i></a>

          </li>
        </ul>
      </div>
    </div>
  </nav>
  {{{body}}}
  <footer>
    <h3 id="footer"> &copy; <span id="footerLogo">Wag</span></h3>
  </footer>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>