<div class="container">
  <div class="jumbotron mt-4">
    <h1 class="display-4 text-center">404 Not Found</h1>
    <img class="responsive-img vertical-center mx-auto d-block" src="/img/404_Icon.svg" style="width: 150px; height: 150px;" />
    <p class="text-center">The page you are trying to find doesn't exist</p>
    <h4 class="text-center">No furry friends here ‾\_(ツ)_/‾</h4>
    <a class="text-center" href="/">← Back To Home</a>
  </div>
</div>