<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <img class="img-fluid">
          <h5 class="card-title">If Account, Show profile</h5>
          <h5 class="card-title">Else, Show Sign-Up Login Deets</h5>
          <p>
            Hello <strong> Account Name</strong> !</p>
          <p>
            <strong>Location</strong>: {{example.text}}</p>
          <p>
            <strong>Description:</strong> {{example.description}}</p>
          <a>Contact Shelter</a>
        </div>
        <ul>
          <li>Pet One</li>
          <li>Pet Two</li>
          <li>Pet Three</li>
          <li>Pet Four</li>
          <li>Pet Five</li>
        </ul>
      </div>
      <div class="row">
        <button>Left</button>
        <button>Right</button>
      </div>
    </div>
  </div>
</div>