<div id="home">
  <div class="container center-splash">
    <div class="row" id="search-section">
      <div class="col-xs-10 col-s-8 mx-auto d-block">
        {{!-- <h1>{{msg}}</h1> --}}
        <br>
        <br>
        <br>
        {{#if userLoggedIn}}
        <h2 class="white-text text-center">Welcome to <span id="footerLogo">Wag</span></h2>
        <h3 class="text-center white-text">Find your new best friend with the click of a button</h3>
        <div class="form-group width">
          <label for="exampleFormControlSelect1" class="white-text">I'm looking for a</label>
          <select class="form-control index-form" id="animal-type">
            <option>Dog</option>
            <option>Cat</option>
          </select>
        </div>
        <div class="form-group width">
          <label for="exampleFormControlSelect1" class="white-text">Near</label>
          <input type="text" id="area-code" class="form-control" aria-describedby="example-text" placeholder="Area Code">
        </div>
        <div class="form-group width">
          <label for="" class="white-text">Within</label>
          <select class="form-control" id="distance">
            <option>25</option>
            <option>50</option>
            <option>100</option>
          </select>
        </div>
        <button class="white-text submit big-button vertical-center mx-auto d-block" class="submit" type="submit" name="submit">Search</button>
      </div>
    </div>
    {{else}}
    <br><br>
    <div class="row login-signup-splash">
      <div class="col-xs-12 col-s-8 mx-auto">
        <h4 class="text-center white-text">Want to Search and Save for later?</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-s-8 mx-auto text-center">
        <a href="/account"><button class="inline big-button white-text">Log In</button></a>
        <h4 class="inline white-text"> OR </h4>
        <a href="/signup"><button class="inline big-button">Sign Up</button></a>
      </div>
    </div>
  </div>
  {{/if}}
</div>
<br>
<br>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>