<div class="container">
  <div class="row">
    <div class="col-6 offset-3">
      <div class="card mt-4">
        <div class="card-body">
          <div class="row">
            <img class="img-fluid rounded mx-auto d-block" id="petProfilePic" src="{{imgURL}}">
          </div>
          <h1 id="pet-name">{{name}}</h1>
          <hr>
          <p>Young</p>
          <p>Sacramento, CA, 95826</p>

          <p>Sniffles is just the sweetest fucking thing. She may have a runny nose all the time but that doesn't stop her from living life to the fullest.</p>
          <button>Add to your List +</button>
          <button>Contact Shelter</button>
        </div>
      </div>
    </div>
  </div>
</div>