<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <form class="clearfix mb-4" action="POST">
            <div>
              <img id="petPic" style="width: 200px; height=200px; border: 1px solid;" class="img-left">
            </div>
            <div class="form-group">
              <label for="example-text">Upload Photos</label><br>
              <input type="file" id="myFile">
            </div>
            <div class="form-group">
              <label for="example-text">Pet Name</label>
              <input type="text" id="example-text" class="form-control" aria-describedby="example-text" placeholder="Pet's Name">
            </div>
            <div class="form-group">
              <label for="example-description">Bio</label>
              <textarea class="form-control" id="example-description" aria-describedby="example-description" placeholder="Give your friend a bio in 140 characters"></textarea>
            </div>
            <div class="form-group">
              <label for="example-text">Age</label>
              <input type="text" id="example-text" class="form-control" aria-describedby="example-text" placeholder="How old is your pet?">
            </div>
            <button id="submit" class="btn btn-primary float-right">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>