<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-9">
      <div class="card mt-4" id="sign-in-div">
        <div class="card-body">
          <h1 class="card-title">Fill this out to create an account</h1>
          <div class="row">
            <div id="login-div" class="col-12">
              <div class="form-group">
                <label for="email-input">Email (this will be your login)</label>
                <input type="text" id="email-input" class="form-control" aria-describedby="example-text"
                  placeholder="Email" name="email-input">
              </div>
              <div class="form-group">
                <label for="fName-input">First Name</label>
                <input type="text" id="fName-input" class="form-control" aria-describedby="example-text"
                  placeholder="First Name" name="fName-input">
              </div>
              <div class="form-group">
                <label for="lName-input">Last Name</label>
                <input type="text" id="lName-input" class="form-control" aria-describedby="example-text"
                  placeholder="Last Name" name="lName-input">
              </div>
              <div class="form-group">
                <label for="password-input">Password</label>
                <input type="password" id="password-input" class="form-control" aria-describedby="example-text"
                  placeholder="Password" name="password-input">
              </div>
              <div class="form-group">
                <label for="confirm-password-input"> Confirm Password</label>
                <input type="password" id="confirm-password-input" class="form-control" aria-describedby="example-text"
                  placeholder="Password" name="confirm-password-input">
              </div>
              <div class="form-group">
                <label for="user-photo-input">A Profile Picture</label>
                <input type="text" id="user-photo-input" class="form-control" aria-describedby="example-text"
                  placeholder="Photo URL" name="user-photo-input">
              </div>
              <button class="big-button" id="signup-confirm-button">Confirm</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>