.list-group-item {
  line-height: 2.5;
}

footer {
  margin: 0 auto;
  background-color: #b93145;
  width: 100%;
  padding: 10px;
  text-align: center;
  box-shadow: 0 50vh 0 50vh #b93145;
}

.white-text {
  color: white;
  font-family: 'Josefin Sans', sans-serif;
}

#navHead {
  background-color: #b93145;
}

#footerLogo {
  font-family: 'Mrs Sheppards', cursive;
}

h2 {
  font-size: 3rem;
}

h3 {
  color: white;
  font-family: 'Josefin Sans', sans-serif;
}

#logoType {
  font-family: 'Mrs Sheppards', cursive;
}

.nav-item {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
}

button {
  background-color: #b93145;
  color: white;
  text-transform: uppercase;
  border-style: none;
  border-radius: 10px;
  padding: 7px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  font-size: 10px;
}

#pet-name {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  margin: 20px 0 0 0;
}

#pet-card {
  margin-bottom: 1.5rem ;
}

#petProfilePic {
  height: 500;
  width: 500;
  overflow: hidden;
}

hr {
  margin: 10px 0
}

p {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
}

#home {
  height: 600px;
  background-image: url("../img/wagsplashimage.jpg");
  background-size: auto;
}

.width {
  width: 30%;
  display: inline-block;
}

.center-splash {
  margin: auto;
}

.user-icon {
    color: white;
}